body {
  background-color: black;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

/* Mobile device in landscape mode */
@media screen and (max-height: 540px) and (orientation: landscape) {
  body {
    background: url('/mobile-landscape.jpg') black no-repeat center fixed;
  }
}

/* Mobile device in portrait mode */
@media screen and (max-width: 540px) and (orientation: portrait) {
  body {
    background: url('/mobile-portrait.jpg') black no-repeat center fixed;
  }
}